---
import { GithubIcon, FolderIcon } from "../util/icons.jsx";
import AllProject from "../util/AllProjects.json";

const projects = AllProject.slice(0, 3);
---

<swiper-container class="mySwiper relative overflow-hidden" navigation="true">
  <!-- <swiper-slide>
    <div
      class="flex justify-center items-center rounded-lg p-5 h-full w-max shadow-md shadow-slate-800 bgLastProyectImgContainer relative"
      style={{ backgroundColor: "rgb(16, 16, 16)" }}
    >
      <div
        class="absolute h-full w-full p-5 text-white text-left text-md overflow-y-auto rounded-md hoverDescription"
      >
        <p>UI elements for pricing cards of a streaming platform</p>
      </div>
      <img
        src="/x-miniatura-compr.png"
        alt="last project released"
        class="h-full lastProyectImg"
      />
    </div>
    <div class="flex gap-3 absolute bottom-0 m-3 right-0">
      <button
        class="h-max rounded-full text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800"
      >
        <a
          href="https://my-x.vercel.app/"
          class="h-full w-full grid items-center"
          target="_blank"
        >
          <FolderIcon />
        </a>
      </button>
      <button
        class="h-max rounded-full text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800"
      >
        <a
          href="https://github.com/Lautaro24Fer/Laboratorio3-Project2"
          class="h-full w-full grid items-center"
          target="_blank"
        >
          <GithubIcon />
        </a>
      </button>
    </div>
  </swiper-slide> -->
  {
    projects.map((project) => (
      <swiper-slide>
        <div
          class="flex justify-center items-center rounded-lg p-5 h-full w-max shadow-md shadow-slate-800 bgLastProyectImgContainer relative"
          style={{ backgroundColor: "rgb(16, 16, 16)" }}
        >
          <div class="absolute h-full w-full p-5 text-white text-left text-md overflow-y-auto rounded-md hoverDescription">
            <p>{project.description}</p>
          </div>
          <img
            src={project.imgPath}
            alt={project.name}
            class="h-full lastProyectImg"
          />
        </div>
        <div class="flex gap-3 absolute bottom-0 m-3 right-0">
          <button class="h-max rounded-full text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800">
            <a
              href={project.productionUrl}
              class="h-full w-full grid items-center"
              target="_blank"
            >
              <FolderIcon />
            </a>
          </button>
          <button class="h-max rounded-full text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800">
            <a
              href={project.ghRepo}
              class="h-full w-full grid items-center"
              target="_blank"
            >
              <GithubIcon />
            </a>
          </button>
        </div>
      </swiper-slide>
    ))
  }
</swiper-container>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .bgLastProyectImgContainer {
    transition: all 0.2s ease-in-out;
  }

  .lastProyectImg {
    cursor: pointer;
  }

  .bgLastProyectImgContainer:hover {
    scale: 0.95;
  }

  .hoverDescription {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .hoverDescription ::-webkit-scrollbar-thumb {
    background-color: rgb(167, 18, 18);
    border-radius: 10px;
  }

  .hoverDescription::-webkit-scrollbar-track {
    width: 10px;
  }
  .bgLastProyectImgContainer:hover .hoverDescription {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.689);
  }
</style>
